@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  box-sizing: border-box;
}

body {
  background-color: #333;
  color: #222;
  font-family: "Roboto", "sans-serif";
  margin: 0;
  overflow-x: hidden;

}
.container {
  background-color: #fafafa;
  transform-origin: top left;
  transition: transform 0.5s linear;
  width: 100vw;
  min-height: 100vh;
  padding: 50px;
}
.container.show-nav {
  transform: rotate(-20deg);
}
.circle-container {
  cursor: pointer;
  position: fixed;
  top:-80px;
  left: -80px;
}
.circle {
  background-color: #ff7979;
  height: 160px;
  width: 160px;
  border-radius: 50%;
  transition: transform 0.4s linear;
  position: relative;
}
.circle button {
  position: absolute;
  top:50%;
  left: 50%;
  height: 100px;
  background: transparent;
  border: 0;
  font-size: 26px;
  color: #fff;

}

.circle button:focus{
  outline: none;
}
.circle button#open {
  left: 65% ;
}
.circle button#close {
  top:60%;
  transform: rotate(90deg);
  transform-origin: top left;
}
.content img {
  max-width: 100%;

}
.content {
  max-width: 1000px;
  margin: 50px auto;
}

.content h1{
  margin: 0;
}
.content small {
  color: #0a391a;
  font-style: italic;
}
.content {
  color: #07592e;
  line-height: 1.5;
}

nav {
  position: fixed;
  bottom: 40px;
  left:0px;
  z-index: 100;
}
nav ul {
 list-style-type: none;
 padding-left: 30px;
}
nav ul li{
  text-transform: uppercase;
  color: #fff;
  margin: 80px 40px;
  transform: translateX(-300%);
  transition: transform 0.4s ease-in;
}
nav ul li i{
  font-size: 20px;
  margin-right: 10px;
  
}
nav ul li + li {
  margin-left: 50px;
  transform: translateX(-400%);
}
nav ul li + li + li {
  margin-left: 60px;
  transform: translateX(-700%);
}

.container.show-nav + nav li {
  transform: translateX(0);
  transition-delay: 0.3s;

}
.container.show-nav .circle {
  transform: rotate(-70deg);
}