@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    background-color: #6e199c;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
}
.counter-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
}
.counter {
    font-size: 60px;
    margin: 10px;
}

@media (max-width: 600px){
    body{
        background-color: orange;
        flex-direction: column;
        justify-content: center;
    }
}